* {
    margin: 0px;
    padding: 0px;
    border: none;

    --background-primary-color: #121214;
    --primary-color-gradient-title: #FF267A;
    --second-color-gradient-title: #FFA634;
    --button-hover: #fc9714;
    --background-trailer: #121214a1;
    --color-text: #F9F9F9;
    --links-color: #2B6CB0;
    --border-color: #E8E8E8;
    --box-color: #181818;

    font-family: 'Open Sans', sans-serif;

    color: var(--color-text);
}

body {
    background-color: var(--background-primary-color);
}

.main-title {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--second-color-gradient-title) 30%, var(--primary-color-gradient-title) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

button {
    cursor: pointer;
    transition: background .5s ease-in-out;
}

button:hover {
    background: var(--button-hover);
}