* {
    margin: 0px;
    padding: 0px;
    border: none;

    --background-primary-color: #121214;
    --primary-color-gradient-title: #FF267A;
    --second-color-gradient-title: #FFA634;
    --button-hover: #fc9714;
    --background-trailer: #121214a1;
    --color-text: #F9F9F9;
    --links-color: #2B6CB0;
    --border-color: #E8E8E8;
    --box-color: #181818;

    font-family: 'Open Sans', sans-serif;

    color: var(--color-text);
}

body {
    height: 100vh;
    background-color: var(--background-primary-color);
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--second-color-gradient-title) 30%, var(--primary-color-gradient-title) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn {
    background: var(--second-color-gradient-title);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

.btn:hover {
    background: var(--button-hover);
}

.btn:disabled {
    background: var(--box-color);
}

.btn-link {
    color: var(--links-color);
    background: none;
    cursor: pointer;
    font-size: 1rem;

    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.loading {
    background: rgba(0, 0, 0, .5);
    position: fixed;

    width: 100%;
    height: 100%;
}

.loading label {
    font-size: 24px;
}

.error {
    background: #cf0000;
    padding-left: 2px;

    font-size: 12px;
    font-weight: 600;

    display: none;
}