.main-title {
    font-size: 70px;
}

.btn-login, .btn-register {
    padding: 15px 130px;

    font-weight: 700;

    margin: 20px 0px;
}

main .login-form {
    flex-direction: column;
    gap: 20px;
}

main .login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-weight: 400;
}

main .login-form form .campo-email,
main .login-form form .campo-senha,
main .login-form form .campo-nome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .login-form form .campo-nome {
    margin-top: 20px;
}

main .login-form form .campo-email input,
main .login-form form .campo-senha input,
main .login-form form .campo-nome input {
    width: 300px;
    padding: 15px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    background-color: transparent;
}

main .login-form .secao-lembrar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 855px) {
    main .login-form {
        gap: 5px;
    }

    main .secao-lembrar {
        font-size: .8rem;
    }

    .btn-login, .btn-register {
        padding: 15px 110px;
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: 3.5rem;
    }

    main .login-form form .campo-email input,
    main .login-form form .campo-senha input,
    main .login-form form .campo-nome input {
        width: 200px;
        padding: 10px;
    }

    main .login-form .secao-lembrar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        margin: 10px 0px;
    }

    .login-form h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .secao-lembrar label {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .btn-login, .btn-register {
        margin: 10px 0px;
        padding: 15px 90px;
    }
}