main .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

main .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 70px;
}

main .container .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .container .login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-weight: 400;
}

main .container .login-form form .campo-email,
main .container .login-form form .campo-senha,
main .container .login-form form .campo-nome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .container .login-form form .campo-nome {
    margin-top: 20px;
}

main .container .login-form form .campo-email input,
main .container .login-form form .campo-senha input,
main .container .login-form form .campo-nome input {
    padding: 15px 150px 15px 10px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    background-color: transparent;
}

main .container .login-form .secao-lembrar {
    margin: 20px 0;
}

main .container .login-form .secao-lembrar #esqueceu-senha {
    float: right;
}

.btn {
    padding: 15px 130px;

    font-weight: 700;

    background: var(--second-color-gradient-title);
    border: none;
    border-radius: 5px;

    margin: 20px 0px;
}

main a {
    color: var(--links-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

@media (max-width: 855px) {
    main .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container .logo {
        display: none;
    }

    main .container .secao-lembrar {
        font-size: .8rem;
    }

    main .container .login-form form .campo-email input,
    main .container .login-form form .campo-senha input,
    main .container .login-form form .campo-nome input {
        padding: 15px 100px 15px 10px;
    }

    .btn {
        padding: 15px 110px;
    }
}