header {
    height: 100vh;

    background: radial-gradient(#0c0c0c61, #0c0c0c00), url(../assets/images/background-movie.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-text);
}

.heading, .movie-draft, footer {
    margin: 0px 20px;
}

header .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav #menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

nav img {
    width: 30px;
    height: 20px;

    cursor: pointer;
}

#btn-mobile {
    display: none;
}

nav a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.category {
    width: 65px;
    display: block;

    background: var(--box-color);

    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 1px 7px;

    font-size: .75rem;
    font-weight: 600;
    text-align: center;

    color: var(--second-color-gradient-title);
}

.rate {
    display: inline-flex;
    gap: 5px;

    margin: 20px 0;
}

.rate .star {
    width: 15px;
    height: 15px;

    background: var(--second-color-gradient-title);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.duration {
    display: inline-flex;
    align-items: center;

    margin-left: 20px;
}

.duration img {
    width: 18px;
    height: 18px;
}

.duration .movie-duration {
    font-size: .8rem;
    margin-left: 5px;
}

.movie-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 64px;
}

.movie-description {
    width: 100%;
    max-width: 550px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btn {
    margin-top: 50px;

    padding: 8px 60px;

    font-weight: 600;
}

#trailer-movie {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 1000;

    background-color: var(--background-trailer);
}

.close-trailer {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

section iframe {
    width: 600px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    margin-top: 20px;
}

main .separator {
    width: 52px;
    height: 1px;
    background-color: var(--second-color-gradient-title);
    margin-bottom: 40px;
}

main .popular-movies .movie .movie-image {
    opacity: 50%;
}

main .details {
    width: 90%;
    max-width: 250px;
    position: absolute;
    margin: auto;
    bottom: 5%;
}

main .details h2 {
    font-size: 1.5rem;
    line-height: normal;
}

main .popular-movies .movie {
    height: 440px;

    display: flex;
    align-items: end;
    justify-content: center;
    transition: all 1s;
}

main .popular-movies .movie:hover {
    transform: scale(1.1, 1.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 0 0;
}

footer ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

footer ul li img {
    width: 18px;
    height: 18px;
}

@media (max-width: 768px) {

}

@media (max-width: 768px) {
    header nav #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        margin: 0px;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::before, #hamburguer::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;

        transition: transform .5s;
        position: relative;
    }

    #nav.ativo #hamburguer {
        border-top-color: transparent;
    }

    #nav.ativo #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.ativo #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    header .heading #nav #menu {
        display: block;
        width: 20%;
        height: 0%;
        position: absolute;
        top: 70px;
        right: 35px;
        gap: 10px;
        background: var(--second-color-gradient-title);
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    header .heading nav #menu li {
        width: 100%;
        display: flex;
        justify-content: center;
        
        padding: 10px 0px;
        border-bottom: 1px solid var(--color-text);
    }

    header .heading #nav.ativo #menu {
        height: 129px;
        visibility: visible;
        overflow-y: auto;
    }
}

@media (max-width: 425px) {
    section iframe {
        width: 400px;
        height: 300px;
    }

    .main-title {
        font-size: 1.5rem;
    }

    header .heading #nav #menu {
        width: 40%;
    }
}

@media (max-width: 375px) {
    section iframe {
        width: 300px;
        height: 200px;
    }

    .movie-draft .movie-title {
        font-size: 2rem;
        line-height: 32px;
    }
}

@media (max-width: 320px) {
    .heading, .movie-draft, footer {
        margin: 0px 10px;
    }

    header .heading nav {
        gap: 5px;
    }

    .informacoes {
        gap: 20px;
    }

    .movie-draft .movie-title {
        font-size: 1.3rem;
        line-height: 32px;
    }

    .movie-draft .movie-description {
        font-size: .8rem;
    }

    .social-medias ul {
        gap: 30px;
    }
}