.main-title {
    font-size: 70px;
}

.btn-register {
    padding: 15px 130px;

    font-weight: 700;

    margin: 20px 0px;
}

main .login-form {
    flex-direction: column;
    gap: 20px;
}

main .login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-weight: 400;
}

.campo-email, .campo-senha, .campo-nome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo-nome {
    margin-top: 20px;
}

.campo-email input, .campo-senha input, .campo-nome input {
    width: 300px;
    padding: 15px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    background-color: transparent;
}

@media (max-width: 855px) {
    main .login-form {
        gap: 5px;
    }

    .btn-register {
        padding: 15px 110px;
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: 3.5rem;
    }

    .campo-email input, .campo-senha input, .campo-nome input {
        width: 200px;
        padding: 10px;
    }

    .login-form h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .btn-register {
        margin: 10px 0px;
        padding: 15px 90px;
    }
}