header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: .9rem;

    padding: 20px;
}

header h2 {
    font-weight: 300;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 65px;
}

main .container h2 {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 20px;

    text-align: center;
}

main .container h3 {
    font-size: 25px;
    font-weight: 300;
}

main .container .users {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    margin: 20px 0px;
}

main .container .users .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container .users .user .profile-photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;

    transition: transform .5s ease-in-out;

    cursor: pointer;
}

main .container .users .user .profile-photo:hover {
    transform: scale(1.1);
}

main .container .users .user .profile-name {
    margin-top: 10px;
}

button {
    width: 150px;
    height: 2.2rem;

    background: var(--second-color-gradient-title);
    border: none;
    border-radius: 5px;

    margin-bottom: 20px;

    font-weight: 600;
}