header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: .9rem;

    padding: 20px;
}

header h2 {
    font-weight: 300;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 65px;
}

main .container h2 {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 20px;
}

main .container h3 {
    font-size: 25px;
    font-weight: 300;
}

main .container .users {
    display: flex;
    align-items: center;
    gap: 100px;

    margin-bottom: 90px;
}

main .container .users .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 90px;
}

main .container .users .user .profile-photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;

    /* background-color: aqua; */
}

main .container .users .user .profile-name {
    margin-top: 10px;
}

main .container button {
    width: 150px;
    height: 2.2rem;

    background-color: var(--button-color);
    border: none;
    border-radius: 5px;

    margin-bottom: 20px;

    font-weight: 600;
}